.about-container{
    height:100vh;
    width:100vw;
    margin-left: 0%;
    background-color: rgb(25, 31, 36);
    background:url("./About.jpg") center ;
     
    background-repeat: no-repeat;
    background-size:cover;
    overflow-x: hidden;
}